<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Alerting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Alerting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Alerting.Properties.Settings>
            <setting name="EmailTo" serializeAs="String">
                <value>ndepasquale@harrisassoc.com</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>ndepasquale@harrisassoc.com</value>
            </setting>
            <setting name="EmailSMTPServer" serializeAs="String">
                <value>smtp.harrisassoc.int</value>
            </setting>
            <setting name="EmailSubject" serializeAs="String">
                <value>subject</value>
            </setting>
            <setting name="EmailBodyTemplate" serializeAs="String">
                <value>template {0}</value>
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailSubjectPrefix" serializeAs="String">
                <value>*** Testing</value>
            </setting>
            <setting name="EmailSubjectSuffix" serializeAs="String">
                <value>Testing ***</value>
            </setting>
            <setting name="EmailBodyHeader" serializeAs="String">
                <value>*** Testing. Please Ignore</value>
            </setting>
            <setting name="EmailBodyFooter" serializeAs="String">
                <value>Testing. Please Ignore ***</value>
            </setting>
            <setting name="EmailMessageBodyTemplate" serializeAs="String">
                <value>Error Message:
{0}

Details:
    {1}{2}
</value>
            </setting>
        </Alerting.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Alerting.Properties.Settings>
            <setting name="EmailErrorMessageBodyTemplate" serializeAs="String">
                <value>Error Message:
{0}

Details:
    {1}{2}
</value>
            </setting>
        </Alerting.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
